# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\桌面\HC蓝牙助手1.4.2源码\MixTheBluetooth\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
